:root {
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    font-size: 60%; /* controle das medidas rem */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.texts p {
    color: var(--color-small-info);
    font-size: 20px;
    max-width: 200px;
}

.buttons{
    display: flex;
    margin-top: 100px;
}

.buttons button {
    padding: 20px 40px;
    font-size: 14px;
    color: var(--color-button-text);
    margin: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.study img, .teacher img {
    width: 20px;
    margin-right: 10px;
}

.study {
    background-color: var(--color-primary-lighter);
}

.study:hover {
    background-color: var(--color-primary-light);
    transition: 0.3s;
    cursor: pointer;
}

.teacher {
    background-color: var(--color-secondary);
}

.teacher:Hover {
    background-color: var(--color-secondary-dark);
    transition: 0.3s;
    cursor: pointer;
}

.conexao {
    margin-top: 100px;
    text-align: right;
    color: var(--color-small-info);
}

@media (max-width: 1500px) {
    .texts {
        margin-right: 100px;
    }
}

@media (max-width: 1150px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px 0 50px 0;
    }
    .conexao {
        margin-top: 20px;
    }

    .professores {
        margin-top: 30px;
    }

    .texts {
        margin-right: 50px;
    }
}

@media (max-width: 650px) {
    .professores {
        width: 400px;
    }

    .texts {
        margin: 0 50px;
    }

    .texts img {
        width: 350px;
    }

    #container {
        margin: 0;
    }
}

@media (max-width: 400px) {

    .texts img {
        width: 300px;
    }

    .professores {
        width: 300px;
    }
}

@media (max-width: 330px) {
    
    .texts img {
        width: 200px;
    }

    .professores {
        width: 250px;
    }

    .buttons button{
        padding: 10px 30px;
    }

    .conexao {
        text-align:center;
    }
}