<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Sucesso</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/sucess.css">

</head>
<body id="page-landing" >
    <div id="container">
        <img src="/images/success-background.svg" alt="">
    </div>
    <div class="sucess-cadastro">
        <img src="/images/icons/success-check-icon.svg" alt="">
        <h1>Cadastro salvo!</h1>
        <p>Tudo certo, seu cadastro está na nossa lista de professores.</p>
        <p>Agora é so ficar de olho no seu WhatsApp.</p>
        <p class="linha">Obrigado por se cadastrar!</p>
    </div>
</body>

<script>
    setTimeout(() => {
      window.location = "/study" + window.location.search;
    }, 4000);
</script>
</html>