.input-block label {
  display: flex;
  color: #8FA7B3;
  margin-bottom: 8px;
  line-height: 24px;
}

.input-block label span {
  font-size: 14px;
  color: #8FA7B3;
  margin-left: 24px;
  line-height: 24px;
}

.input-block input {
  width: 100%;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  outline: none;
  color: #5C8599;
}

.input-block input {
  height: 64px;
  padding: 0 16px;
}

.input-block.input_has_error label {
  color: #e64545;
}

.input-block.input_has_error input {
  border: 1px solid #e64545;
}
