#page-create-point {
    width: 90%;
    max-width: 1100px;
    /* Alinhamento da caixa pelo lado de fora*/
    margin: 0 auto;
}
/*  separa do topo, joga os itens 1 para cada lado e alinha no centro */
#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;
}

#page-create-point header a  span{
    margin-right: 16px;
    background-image: url(../assets/arrow-left.svg);
    
    display: flex;

    width: 20px;
    height: 24px;
}

form {
    background-color: white;
    
    margin: 80px auto;
    padding: 64px;
    
    border-radius: 8px;
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2 {
    font-size:  24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

/* Organiza um do lado do outro */
form .field {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}
/* Tamanho da fonte */
form input,
form select {
    background-color: var(--f0f0f5-color);

    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;

    outline: none;
}
/* Tira o padrao de select do chrome e outros */
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}
/* Aplicando no primeiro campo e no segundo(estado e cidade) */
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    border-radius: 8px;

    background-color: var(--primary-color);
    color: white;

    font-weight: bold;
    font-size: 16px;

    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}
/* Items de colete, 1fr é fração */
.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;

    border: 2px solid #f5f5f5;
    border-radius: 8px;
/* da um espaçamento dos itens para borda */
    height: 180px;
    padding: 32px 24px 16px;
    /* alinhando os textos */
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: space-between;

    text-align: center;

    cursor: pointer;
}
.items-grid li span {
    margin-top: 12px;
    flex: 1;

    /* alinhando o texto ao meio */
    display: flex;
    align-items: center;

    color: var(--title-color);
}
.items-grid li.selected {
    background: #e1faec ;
    border: 2px solid #34cb79;
}
/* tira o evento de clicar na imagem e no texto */
.items-grid li img,
.items-grid li span {
    pointer-events: none;
}