
.select-block label,
.input-block label,
.textarea-block label {
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.input-block input,
.select-block select,
.textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
} 

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}

.input-block label:hover,
.input-block input:hover,
.select-block select:hover {
    cursor: pointer;
}

.input-block,
.textarea-block {
    position: relative;
}

.input-block:focus-within::after,
.textarea-block:focus-within::after { /*:focus-within Algo clicar em um elemento, vai estar em foco */
    content: "";
     
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);

    position: absolute;
    left: 1.6rem;
    bottom: 0px;
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--color-small-info);
}